{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

    {% block head %}
        {{ super() }}
        <title>{% block title %}Feuerwehr Kupferzell{% endblock %} - My Webpage</title>



        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">




        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    {% endblock %} <!-- End head -->


{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='feuerwehr_logo.jpg') }}" alt="LOGO Feuerwehr" width="50px" height="50px"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.posts') }}">Einsätze</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
                    <li><a href="{{ url_for('main.create_new_post') }}">Neuen Post erstellen</a></li>

                {% else %}

                    <li><a href="{{ url_for('main.login') }}">Login</a></li>
                    <li><a href="{{ url_for('main.registry') }}">Registrierung</a></li>

                {% endif %}

            </ul>

        </div>

    </div>

</nav>
{% endblock %}


{% block content %}
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}



{% block footer %}{% endblock %} <!-- End footer -->
{% block scripts %}
    {{ super() }}
{% endblock %}
