{% extends 'base.html' %}
{% block title %}Feuerwehr Kupferzell - Homepage{% endblock %} <!-- Title -->

<!-- start Head -->
{% block head %}
  {{ super() }}
{% endblock %}
<!-- end Head -->

<!-- start navbar -->
{% block navbar %}
    {{ super() }}
{% endblock %}
<!-- end navbar -->




<!-- start content -->
{% block content %}
{{ super() }}

    <div id="home">
        <div class="landing-text">
            <h1>FEUERWEHR FÜSSBACH</h1>
            <h3>Wir löschen alles - Feuer oder Durst</h3>
            <a href="#" class="btn btn-default btn-lg">Wasser marsch!</a>
        </div>
    </div>

    <div class="padding">

        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <img src="/static/bootstrap.png" alt="bootrstrap Picture">
                </div>
                <div class="col-sm-6 text-center">
                    <h2>Die Aufnahmeprüfung</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                        justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                        dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                        duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <p >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                        justo duo dolores et ea rebum.</p>
                </div>
            </div>
        </div>
    </div>


    <div id="fixed">

    </div>

    <div class="padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4>Erstes</h4>
                    <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4>Zweites</h4>
                    <img src="/static/sass.png" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4>Drittes</h4>
                    <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor i
                        nvidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4>Viertes</h4>
                    <img src="/static/b.png" class="img-responsive">
                </div>
            </div>
        </div>
    </div>


    <div class="padding">

        <div class="container">

            <div class="row">
                <div class="col-sm-6 text-center">
                    <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div class="col-sm-6">
                    <img src="/static/bootstrap2.png" class="img-responsive">
                </div>
            </div>

        </div>
    </div>

{% endblock %}
<!-- end content -->

<!-- start footer -->
{% block footer %}
    <footer class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-4">
                <p class="lead">Linker Footer</p>
            </div>
            <div class="col-sm-4">
                <p class="lead">Mittlerer Footer</p>
            </div>
            <div class="col-sm-4">
                <p class="lead">Rechter Footer</p>
            </div>
        </div>
    </footer>
{% endblock %}
<!-- end footer -->
